<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Nice day</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>

<body    ng-controller="MainCtrl as ctrl">

<br/><br/><br/>

Search: <input type="text" ng-model="query"/>
<ul>
    <li ng-repeat="name in filtered = (ctrl.names | filter:query)">
            {{name}} ({{$index}})
    <span ng-if="filtered.length === 0">
            nice day
            </span>
    </li>
    <div ng-if="filtered.length === 0">
        nice day
    </div>
</ul>

</body>
<script src="../bower_components/angularjs/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>
<script src="main.js"></script>

</html>
